<div class="nine.columns.centered">
    <form id="inventoryItemForm">
        <fieldset>
            <legend>Create New Inventory Item</legend>
            <div class="editor-label">Name:</div>
            <div class="editor-field">
                <input id="name" name="name" type="text"/>
            </div>
            <p>
                <input type="button" class="small button radius" value="Save" data-bind="click: addInventoryItem" />
            </p>
        </fieldset>
    </form>
</div>
