<div class="row-fluid">
    <h2>Add New Inventory Item</h2>
    <form id="inventoryItemForm" class="form-horizontal">       
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input id="name" name="name" type="text" placeholder="Name"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" data-bind="click:addInventoryItem">Save</button>
            </div>
        </div>
    </form>
</div>
